@model LostInTheWoods.Models.Trail
@{
    <p>Trail Name: @Model.Name</p>
    <p>Description: @Model.Description</p>
    <p>Length: @Model.Length Miles</p>
    <p>Altitude: @Model.Elevation change in Feet.</p>
    <p>Added: @Model.Created_At</p>
    <a href="/">Back</a>
}